$cyan-normal: #00838F;
$cyan-hover: #006064;
$cyan-light: #0097A7;
$badge-alert: #E84E40;

*{
  &::selection{
    color: #fff;
    background: #B2EBF2;
  }
}

.btn-primary{
  background: $cyan-normal;
  border: none;
  &:hover{
    background: $cyan-hover;
  }
  &:active{
    background: $cyan-hover;
  }
}

#particles-js{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.noborder-top{
  border-top: none !important;
}
.noborder-vertical{
  border-top: none !important;
  border-bottom: none !important;
}