@import "compass/css3";
@import "compass/reset";

$unit: 750/10rem;

html, body {
  height: 100%;
  width: 100%;
  @include display-flex;
  @include align-items(center);
  @include justify-content(center);
}
body {
  background-image: url('/images/bgImg2.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.wrapper{
  @include display-flex;
  @include flex-direction(column);
  @include align-items(center);
  position: relative;
  @include border-radius(8px);
  background-color: hsla(0, 0%, 100%, .3);
  .inputBox {
    //@include display-flex;
    //@include flex-direction(column);
    //@include align-items(center);
    form {
      position: relative;
    }
    input {
      outline: none;
      border: none;
      border-bottom: 1px solid #fff;
      background-color: inherit;
      font-size: 20px;
      color: #fff;
      background: rgba(0, 0, 0, .4);
      &::-webkit-input-placeholder {
        color: #fff;
      }
      &:focus {
        @include box-shadow(2px 1px 1px #ccc);
      }
    }
    .notice {
      display: block;
      font-size: 14px;
      line-height: 1.7;
      color: red;
      margin-top: 5/$unit;
    }
    .password {
      margin-top: 15/$unit;
    }
  }
  .btn {
    font-size: 20px;
  }
}

@media (max-width: 1280px) {
  .wrapper {
    width: 35%;
  }
}

@media (max-width: 767px){
  .wrapper{
    width: 75%;
    padding: 10px 0;
  }
}