
$unit: 750/10rem;

body{
  background-image: url('/images/bgImg2.jpg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center
}
.logon{
  margin-top: 120/$unit;
  display: flex;
  flex-flow: column;
  align-items: center;
  //justify-content: center
  padding: 40/$unit 60/$unit ;
  border-radius: 8px;
  background-color: hsla(0, 0%, 100%, .3);
  h4{
    color: #fff;
  }

  &::before{
    z-index: -1;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    filter: blur(10px);
  }
  input{
    margin-top: 20px;
    width: 160/$unit;
  }
  button{
    width: 160/$unit;
    margin-top: 10px;
  }
}
.notice{
  color: red;
  margin-top: 10px;
}