<!DOCTYPE html>
<html>
  <head>
    <title>登录</title>
    <% include dependence.ejs %>
    <link rel="stylesheet" href="/stylesheets/reset.min.css"/>
    <link rel='stylesheet' href='/stylesheets/index.min.css' />
  </head>
  <body>
    <div class="main_body" id="vApp">
      <div class="select-container">
        <div class="select">
          <a href="javascript: void(0);" class="to-login" @click="toggle(true)">登录</a>
          <a href="javascript: void(0);" class="to-register" @click="toggle(false)">注册</a>
          <span :class="['underline', selected ? '' : 'second']"></span>
        </div>
      </div>
      <div class="login" v-show="selected">
        <form action="" class="form logon-form">
          <div class="form_item">
            <input type="text" class="login_account" v-model="login_account" placeholder="用户名"/>
          </div>
          <div class="form_item noborder-top">
            <input type="password" class="login_password" v-model="login_password" placeholder="密码"/>
          </div>
          <div class="notice_wrapper">
            <span class="notice">{{ notice }}</span>
          </div>
          <div class="button_wrapper">
            <input type="button" value="确认" @click="subLogin" />
          </div>
        </form>
      </div>
      <!-- 注册 -->
      <div class="register" v-show="!selected">
        <form action="" class="form register-form">
          <div class="form_item">
            <input type="text" class="register_account" v-model="register_account" placeholder="用户名" />
          </div>
          <div class="form_item noborder-top">
            <input type="email" class="register_email" placeholder="邮箱" v-model="register_email" />
          </div>
          <div class="form_item noborder-vertical">
            <input type="password" class="register_password" placeholder="密码" v-model="register_password" />
          </div>
          <div class="form_item">
            <input type="password" class="register_password_repeat" placeholder="确认密码" v-model="register_password_repeat"/>
          </div>
          <div class="notice_wrapper">
            <span class="notice">{{ notice }}</span>
          </div>
          <div class="button_wrapper">
            <input type="button" @click="subRegister" value="确认"/>
          </div>
        </form>
      </div>
    </div>
    <div id="particles-js"></div>
  </body>
  <script src="/third-part/particles.js"></script>
  <script src="/dist/index.js"></script>
</html>
