<!DOCTYPE html>
<html>
  <head>
    <title>登录</title>
    <% include dependence.ejs %>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <div class="wrapper container">
      <div class="row">
        <div class="col-md-12">
          <div class="icon">
            <img src="/images/iconfont-chat.png" alt="logo"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="inputBox form-group">
            <input class="account form-control" type="text" placeholder="用户名" name="account"/>
            <input class="password form-control" type="password" placeholder="密码" name="password"/>
            <span class="notice"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group">
            <button class="register btn btn-primary">注册</button>
            <button class="logOn btn btn-primary">登陆</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
