<!DOCTYPE html>
<html>
  <head>
    <title>登录</title>
    <% include dependence.ejs %>
    <link rel="stylesheet" href="/stylesheets/reset.min.css"/>
    <link rel='stylesheet' href='/stylesheets/index.min.css' />
  </head>
  <body>
    <div class="main_body">
      <div class="select-container">
        <div class="select">
          <a href="javascript: void(0);" class="to-login">登录</a>
          <a href="javascript: void(0);" class="to-register">注册</a>
          <span class="underline"></span>
        </div>
      </div>
      <div class="login">
        <form action="" class="form">
          <div class="form_item">
            <input type="text" class="login_account" placeholder="用户名"/>
          </div>
          <div class="form_item noborder-top">
            <input type="password" class="login_password" placeholder="密码"/>
          </div>
          <div class="notice_wrapper">
            <span class="notice"></span>
          </div>
          <div class="button_wrapper">
            <input type="button" class="logIn" value="确认"/>
          </div>
        </form>
      </div>
      <!-- 注册 -->
      <div class="register" style="display: none">
        <form action="" class="form">
          <div class="form_item">
            <input type="text" class="register_account" placeholder="用户名"/>
          </div>
          <div class="form_item noborder-top">
            <input type="email" class="register_email" placeholder="邮箱"/>
          </div>
          <div class="form_item noborder-vertical">
            <input type="password" class="register_password" placeholder="密码"/>
          </div>
          <div class="form_item">
            <input type="password" class="register_password_repeat" placeholder="确认密码"/>
          </div>
          <div class="notice_wrapper">
            <span class="notice"></span>
          </div>
          <div class="button_wrapper">
            <input type="button" class="subRegister" value="确认"/>
          </div>
        </form>
      </div>
    </div>
    <div id="particles-js"></div>
  </body>
  <script src="/javascripts/particles.js"></script>
  <script src="/javascripts/index.js"></script>
</html>
