<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>邀请页面</title>
    <% include dependence.ejs %>
    <link rel="stylesheet" href="/stylesheets/invate.css"/>
    <script src="/javascripts/invate.js"></script>
</head>
<body>
    <div class="logon">
        <h4>登陆以加入团队</h4>
        <input type="text" class="account form-control" placeholder="用户名"/>
        <input type="text" class="password form-control" placeholder="密码"/>
        <button class="btn btn-primary">确定</button>
    </div>
</body>
</html>