<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建群组</title>
    <% include dependence.ejs%>
    <link rel="stylesheet" href="/stylesheets/teamscreate.min.css"/>
    <script src="/javascripts/teamscreate.js"></script>
    <script></script>
</head>
<body class="container">
    <div class="logo">
        <img src="/images/iconfont-chat.png" alt=""/>
    </div>
    <div class="contentBox">
        <div class="header">
            <h3>创建团队</h3>
        </div>
        <div class="add">
            <div>
                <input class="form-control" type="text" placeholder="输入团队名" name="teamname" id="teamname"/>
                <button class="submit btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</body>
</html>