/* line 5, ../sass/chat.scss */
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* line 10, ../sass/chat.scss */
ul {
  padding: 0;
}

/* line 14, ../sass/chat.scss */
.container1 {
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding: 0;
}
/* line 21, ../sass/chat.scss */
.container1 aside {
  -webkit-flex: 160;
  flex: 160;
  background-color: #114D88;
  position: relative;
}
/* line 26, ../sass/chat.scss */
.container1 aside .teamManage {
  background-color: #1976D2;
  padding-top: 0.16rem;
  padding-bottom: 0.08rem;
}
/* line 30, ../sass/chat.scss */
.container1 aside .teamManage .teamBtn {
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
}
/* line 39, ../sass/chat.scss */
.container1 aside .memberManage .memberTitle {
  padding-top: 10px;
  height: 0.4rem;
}
/* line 42, ../sass/chat.scss */
.container1 aside .memberManage .memberTitle .title {
  line-height: 2;
  display: inline-block;
  font-size: 16px;
  color: #fff;
  margin-left: 30px;
}
/* line 50, ../sass/chat.scss */
.container1 aside .memberManage .memberList {
  display: block;
  list-style: none;
  width: 100%;
}
/* line 54, ../sass/chat.scss */
.container1 aside .memberManage .memberList li {
  display: block;
  width: 100%;
  height: 0.26667rem;
}
/* line 58, ../sass/chat.scss */
.container1 aside .memberManage .memberList li a {
  line-height: 1.5;
  display: block;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  text-align: left;
  padding-left: 0.26667rem;
}
/* line 66, ../sass/chat.scss */
.container1 aside .memberManage .memberList li a:hover {
  background-color: #093E72;
}
/* line 73, ../sass/chat.scss */
.container1 aside .chatManage {
  position: relative;
  padding-bottom: 2px;
}
/* line 76, ../sass/chat.scss */
.container1 aside .chatManage:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 80%;
  border-bottom: 1px solid #fff;
  right: 0.16rem;
  z-index: -1;
}
/* line 85, ../sass/chat.scss */
.container1 aside .chatManage .chatTitle {
  padding-top: 10px;
  height: 0.4rem;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
/* line 91, ../sass/chat.scss */
.container1 aside .chatManage .chatTitle .title {
  margin-left: 30px;
  line-height: 2;
  display: inline-block;
  font-size: 16px;
  color: #fff;
}
/* line 98, ../sass/chat.scss */
.container1 aside .chatManage .chatTitle .icon {
  display: inline-block;
  height: 0.18667rem;
  width: 0.18667rem;
}
/* line 102, ../sass/chat.scss */
.container1 aside .chatManage .chatTitle .icon img {
  cursor: pointer;
  display: inline-block;
  max-width: 100%;
  position: relative;
  top: -0.62667rem;
}
/* line 111, ../sass/chat.scss */
.container1 aside .chatManage .chatList {
  list-style: none;
  height: 2rem;
  overflow: scroll;
}
/* line 115, ../sass/chat.scss */
.container1 aside .chatManage .chatList li {
  display: block;
  width: 100%;
  height: 0.26667rem;
}
/* line 119, ../sass/chat.scss */
.container1 aside .chatManage .chatList li:hover {
  background-color: #093E72;
}
/* line 121, ../sass/chat.scss */
.container1 aside .chatManage .chatList li:hover .cancle {
  visibility: visible;
}
/* line 125, ../sass/chat.scss */
.container1 aside .chatManage .chatList li a {
  padding: 2px 0;
  line-height: 1.5;
  display: inline-block;
  width: 85%;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  text-align: left;
  padding-left: 0.26667rem;
}
/* line 135, ../sass/chat.scss */
.container1 aside .chatManage .chatList li a.active {
  background-color: #093E72;
}
/* line 140, ../sass/chat.scss */
.container1 aside .chatManage .chatList li .cancle {
  visibility: hidden;
  width: 15%;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  text-align: center;
}
/* line 151, ../sass/chat.scss */
.container1 aside .settings {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  -moz-box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
/* line 160, ../sass/chat.scss */
.container1 aside .settings .photo {
  color: #fff;
  display: block;
  height: 40px;
  width: 40px;
  margin-top: 5px;
  margin-left: 10px;
  padding: 2px;
  line-height: 1.2;
  border: 1px solid #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  font-size: 28px;
  text-align: center;
}
/* line 175, ../sass/chat.scss */
.container1 aside .settings .nickname {
  margin-left: 12px;
  -webkit-flex: 4;
  flex: 4;
  display: block;
  font-size: 16px;
  color: #fff;
  margin-top: 15px;
}
/* line 183, ../sass/chat.scss */
.container1 aside .settings .up {
  -webkit-flex: 1;
  flex: 1;
  display: block;
  font-size: 16px;
  color: #fff;
  margin-top: 15px;
  cursor: pointer;
}
/* line 192, ../sass/chat.scss */
.container1 aside .more {
  position: relative;
  cursor: pointer;
  margin: 10px 0 20px 0;
  top: 20px;
  left: 50px;
  font-size: 14px;
  color: #fff;
}
/* line 202, ../sass/chat.scss */
.container1 .main {
  position: relative;
  -webkit-flex: 590;
  flex: 590;
  height: 100%;
}
/* line 206, ../sass/chat.scss */
.container1 .main .header {
  height: 10%;
  padding-top: 0.13333rem;
  padding-bottom: 0.13333rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #000;
  -moz-box-shadow: 0 1px 1px 1px #ccc;
  -webkit-box-shadow: 0 1px 1px 1px #ccc;
  box-shadow: 0 1px 1px 1px #ccc;
}
/* line 214, ../sass/chat.scss */
.container1 .main .header .returnGroupChat {
  display: inline-block;
  visibility: hidden;
  margin-left: 30px;
  margin-bottom: 1%;
}
/* line 220, ../sass/chat.scss */
.container1 .main .header .topicName {
  display: inline-block;
  font-size: 24px;
  color: #383838;
  font-weight: 800;
  padding-left: 2rem;
}
/* line 228, ../sass/chat.scss */
.container1 .main #iscroll {
  position: relative;
  overflow: scroll;
  height: 65%;
  width: 7.86667rem;
  padding: 10px 6px;
}
/* line 238, ../sass/chat.scss */
.container1 .main .inputBox {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25%;
  width: 100%;
  border-top: 1px solid #eee;
}
/* line 245, ../sass/chat.scss */
.container1 .main .inputBox .toolbar {
  padding: 4px 0;
  height: 30px;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
/* line 252, ../sass/chat.scss */
.container1 .main .inputBox .toolbar a {
  height: 20px;
  width: 20px;
  margin-left: 20px;
}
/* line 256, ../sass/chat.scss */
.container1 .main .inputBox .toolbar a img {
  max-width: 100%;
}
/* line 261, ../sass/chat.scss */
.container1 .main .inputBox #inputContent {
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 1;
  padding: 5px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  resize: none;
}
/* line 272, ../sass/chat.scss */
.container1 .main .inputBox span {
  font-size: 14px;
  position: absolute;
  top: 1.06667rem;
  right: 0;
  margin-right: 0.13333rem;
  color: #C1C1C1;
}

/* line 284, ../sass/chat.scss */
.teamitem {
  list-style-type: none;
}

/* line 288, ../sass/chat.scss */
.memberlist {
  color: #383838;
  font-size: 14px;
  position: absolute;
  left: 1.06667rem;
  top: 2.66667rem;
  background-color: #fff;
  width: 1.86667rem;
  height: 2rem;
  min-height: 1.06667rem;
  border: 1px solid #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 1px 0 1px 1px #ccc;
  -webkit-box-shadow: 1px 0 1px 1px #ccc;
  box-shadow: 1px 0 1px 1px #ccc;
  overflow: scroll;
}
/* line 302, ../sass/chat.scss */
.memberlist .membertitle {
  text-align: center;
  width: 70%;
  font-weight: 800;
  margin: 0 auto;
  margin-top: 10px;
  padding-bottom: 8px;
  position: relative;
  border-bottom: 1px solid #ccc;
}
/* line 312, ../sass/chat.scss */
.memberlist ul {
  margin-top: 10px;
}
/* line 315, ../sass/chat.scss */
.memberlist ul li {
  display: block;
  height: 0.26667rem;
}
/* line 318, ../sass/chat.scss */
.memberlist ul li a {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  font-weight: 800;
  color: #000;
  line-height: 2;
}
/* line 328, ../sass/chat.scss */
.memberlist ul li a:hover {
  background-color: #f7f7f7;
}

/* line 335, ../sass/chat.scss */
#teamClose, #memberClose {
  position: absolute;
  right: -20px;
  cursor: pointer;
  color: #383838;
  top: 0;
}

/* line 342, ../sass/chat.scss */
.cover {
  display: none;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 352, ../sass/chat.scss */
#upMenu {
  position: absolute;
  width: 200px;
  height: 500px;
  left: 15%;
  top: 65%;
}
/* line 358, ../sass/chat.scss */
#upMenu .modal-dialog {
  padding: 0;
  margin: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 200px;
}
/* line 363, ../sass/chat.scss */
#upMenu .modal-dialog .modal-body {
  padding: 0;
}
/* line 367, ../sass/chat.scss */
#upMenu ul {
  list-style: none;
}
/* line 369, ../sass/chat.scss */
#upMenu ul a {
  border: none;
}

/* line 375, ../sass/chat.scss */
.media-object {
  height: 50px;
  width: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 381, ../sass/chat.scss */
.otherphoto {
  background-color: #114D88;
  color: #fff;
  display: block;
  height: 40px;
  width: 40px;
  padding: 2px;
  line-height: 1.2;
  border: 1px solid #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  font-size: 28px;
  text-align: center;
}

/* line 396, ../sass/chat.scss */
.emojiBox {
  position: absolute;
  left: 23%;
  top: 57%;
  width: 200px;
}
/* line 401, ../sass/chat.scss */
.emojiBox a {
  display: inline-block;
  width: 22px;
  height: 22px;
}
/* line 405, ../sass/chat.scss */
.emojiBox a img {
  max-width: 100%;
}

/* line 410, ../sass/chat.scss */
.emojied {
  height: 22px;
  width: 22px;
}

/* line 414, ../sass/chat.scss */
.imageMsg {
  height: 200px;
  width: 200px;
}
